.naslov{
    height: 50px;
    text-align: center;
}
.opisi{
    min-height: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.opisi input {
    display: none;
    background-color: #D9D9D9;
}

.opisi .opis {
    display: none;
    background-color: #D9D9D9;
}

.opisi input:checked+.opis {
    display: block;
    background-color: #FFFFFF;
    padding: 20px 60px;
    text-align: left;
}

body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/coffeehouse.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }
